## DSI-06 Homework 5: ANSWERS
From Chapter 6, found on pages 286-287 of ISLP

*In this exercise, we will predict the number of applications received using the other variables in the `College` data set.*

In [18]:
# Import libraries and objects
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import subplots
import statsmodels.api as sm
import random
import patsy
from ISLP import load_data
from ISLP import confusion_table
from ISLP.models import contrast
from ISLP.models import (ModelSpec as MS,
                         summarize)
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV, LassoCV
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import ElasticNetCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from patsy import dmatrix

# Load Default data
College = load_data('College')
College

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

(a)  Split the data set into a training set and a test set.

*We can use the function train_test_split() to split the observations into two halves for the training and testing sets.*

In [20]:
# Set a random seed for reproducibility
np.random.seed(16)

# Split the observations into training and test sets
total_rows = len(College)
train_rows = total_rows // 2  # Integer division to get roughly half of the rows

# Generate a random array of indices for the training set
train_indices = np.random.choice(total_rows, train_rows, replace=False)

# Create the test set by excluding the indices used for the training set
test_indices = np.setdiff1d(np.arange(total_rows), train_indices)

# Create the training and test sets using iloc
train_set = College.iloc[train_indices]
test_set = College.iloc[test_indices]

# Print the lengths of the training and test sets
print("Number of observations in the training set:", len(train_set))
print("Number of observations in the test set:", len(test_set))

Number of observations in the training set: 388
Number of observations in the test set: 389

(b) Fit a linear model using least squares on the training set, and report the test error obtained.

In [31]:
# Add answer

(c)  Fit a lasso model on the training set, with λ chosen by cross validation. Report the test error obtained, along with the number of non-zero coefficient estimates.

In [32]:
# Add answer

(d) Fit a lasso model on the training set, with λ chosen by cross validation. Report the test error obtained, along with the number of non-zero coefficient estimates.

In [33]:
# Add answer